
*{
  padding : 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 800px;
  margin: 20px auto;
}
.add-box {
  width: 100%;
  .text{
    width: 100%;
    padding: 10px;
    h2 {
    text-align: center;
      }
  }
  .input-box {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .input-time {
      padding: 5px 10px;
      margin-bottom: 20px;
    }
    .output-time{
      padding: 5px 10px;
    }
    .add-btn {
      font-size: 16px;
      display: block;
      margin-top: 8px;
      padding: 5px 10px;
    }
  }
}
.data-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  table {
    th,td {
      text-align: center;
      padding: 5px 15px;
      border: 1px solid #313131;
    }
  }
}