$max-width : 1280px ;
$background-color : #ffffff ;
$primary-color :#79a342 ;
$primary-color2 : #1c1c1c ;
$font-color : #575656;
@font-face {
  font-family: 'yekan';
  src:	url('/fonts/Yekan.eot'); /* IE9 Compat Modes */
  src:	url('/fonts/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/Yekan.woff2') format('woff2'), /* Modern Browsers */
  url('/fonts/Yekan.woff') format('woff'), /* Modern Browsers */
  url('/fonts/Yekan.otf') format('opentype'), /* Open Type Font */
  url('/fonts/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
$font-family : 'yekan' ;
