* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    font-family: Arial;
    height: 100vh;
    position: relative;
}
.navbar {
    width: 100%;
    padding: 15px 10px;
}
.navbar ul {
    display: flex;
    align-items: center;
}
.navbar ul li {
    display: inline-block;
    margin: 0 10px;
    list-style: none;
}
.navbar li a {
    text-decoration: none;
    color : rgba(0,0,0,.87);
    font-size: 13px;
}
.navbar li a:hover {
    border-bottom: 1px solid  #000 !important;
}
.navbar ul li a span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.profile-icon {
    width: 32px;
    height: 32px;
    color: white;
    font-size: 25px;
    font-family: Roboto;
    background-color: #5c6bc0;
}
.profile-icon:hover {
    box-shadow: 0 0 15px #949697;
}
.menu-icon  {
    width: 30px;
    height: 30px;
    margin-left:-3px;
    margin-right:4px;
}
.menu-icon svg {
    width: 24px;
    height: 24px;
}
.navbar ul li a .menu-icon:hover {
    background-color: #babcbd;
}
.main {
    width: 100%;
    display: flex;
    justify-content: center;
}
.main .search-box {
    width: 38%;
    text-align: center;
    padding-top: 30px;
    margin-top: 20px;
}
.main .search-box figure img {
    width: 272px;
    height: auto;
}
form {
    margin-top: 20px;
}
form .input-box {
    position: relative;
    width: 100%;
    margin-top: 13px;
    border: 1px solid #dfe1e5;
    border-radius: 22px;
}
form .input-box:hover {
    box-shadow: 0px 0px 10px #d1d2d2;;
}
form .input-box .input-keyboard {
    background: url("https://www.gstatic.com/inputtools/images/tia.png") no-repeat center;
    height: 24px;
    width: 24px;
    position: absolute;
    left: 3px;
    top: 1px;
    padding: 20px;
}
form .input-box span {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 13px;
    color: #9aa0a6;
}
form .input-box span svg {
    width: 19px;
    height: auto;
}
form .input-box input {
    width: 85%;
    margin: 0 auto;
    border-radius: 20px;
    height: 43px;
    outline: 0;
    border: none;
}
.language {
    margin-top: 32px;
    color : #4d5156;
    font-size: 13px;
}
form .button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Helvetica Neue,Noto Naskh Arabic UI,Arial,sans-serif;
    font-size: 14px;
    margin : 31px 4px 0 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
form .button:hover {
    border: 1px solid #d1d2d2;
}
footer {
    direction: rtl;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
}
footer .down-menu {
    width: 100%;
    padding: 7px 10%;
}
footer ul {
    padding: 10px;
}
footer ul li a {
    margin: 0 6px;
    color: #70757a;
}
footer ul li a:hover {
    border-bottom: 1px solid #70757a;
}
footer .right-menu {
    float: right;
}
footer .left-menu {
    float: left;
}
footer ul li {
    display: inline-block;
    list-style: none;
    margin: 0 6px;
}
footer .eleman {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    color: #70757a;
}
