.container {
    width: 60%;
    margin: 30px auto;
}
form {
    width: 100%;
    text-align: center;
}
label {
    display: block;
    width: 100%;
    margin: 15px 0 ;
}
input {
    width: 100%;
}
button { 
    border-radius: 6px !important;
    padding: 10px ;
}