* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
body {
	font-family: Arial;
	height: 100vh;
	position: relative;
}
.navbar {
	width: 100%;
	padding: 15px 10px;
	ul {
		display: flex;
		align-items: center;
		li {
			display: inline-block;
			margin: 0 10px;
			list-style: none;
		}
	}
	li {
		a {
			text-decoration: none;
			color: rgba(0,0,0,.87);
			font-size: 13px;
		}
		.profile-icon {
			border-radius: 50%;
		}
		.gb_Ue {
			width: 24px;
			height: auto;
		}
		.gb_Ua {
			color: #5f6368 !important;
		}
	}
}
.main {
	width: 100%;
	display: flex;
	justify-content: center;
	.search-box {
		width: 38%;
		text-align: center;
		padding-top: 30px;
		margin-top: 20px;
		figure {
			img {
				width: 272px;
				height: auto;
			}
		}
	}
}
form {
	margin-top: 20px;
	.input-box {
		position: relative;
		width: 100%;
		margin-top: 10px;
		border: 1px solid #dfe1e5;
		border-radius: 22px;
		.input-keyboard {
			background: url("https://www.gstatic.com/inputtools/images/tia.png") no-repeat center;
			height: 24px;
			width: 24px;
			position: absolute;
			left: 3px;
			top: 1px;
			padding: 20px;
		}
		span {
			position: absolute;
			top: 0px;
			right: 0px;
			padding: 13px;
			color: #9aa0a6;
			svg {
				width: 19px;
				height: auto;
			}
		}
		input {
			width: 85%;
			margin: 0 auto;
			border-radius: 20px;
			height: 43px;
			outline: 0;
			border: none;
		}
	}
	button {
		font-family: Arial;
		font-size: 14px;
		margin: 30px 0 0 10px;
		padding: 9px 18px;
		border: none;
		background-color: #f8f9fa;
		border-radius: 3px;
		color: #3c4043;
		&:hover {
			border: 1px solid #e2e2e3;
		}
	}
}
.language {
	margin-top: 25px;
	color: #4d5156;
	font-size: 13px;
}
footer {
	direction: rtl;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f2f2f2;
	padding: 15px;
	.down-menu {
		width: 100%;
	}
	ul {
		padding: 10px;
		li {
			display: inline-block;
			list-style: none;
			a {
				margin: 0 6px;
				text-decoration: none;
				color: #70757a;
			}
		}
	}
	.right-menu {
		float: right;
	}
	.left-menu {
		float: left;
	}
	.eleman {
		width: 100%;
		border-bottom: 1px solid #ccc;
		padding: 10px;
		color: #70757a;
	}
}
